<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<style>

</style>

<body>
    <p>show-password写在标签里</p>
    <p>
        el-input type="password" v-model="formData.pass" <span style="color: red;">show-password</span> auto-complete="off"
    </p>
    <div class="test">
        <el-form :model="formData" status-icon inline :rules="rules2" ref="formData" label-width="100px"
            class="demo-ruleForm">
            <el-form-item label="密码" prop="pass">
                <el-input type="password" v-model="formData.pass" show-password auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="确认密码" prop="checkPass">
                <el-input type="password" v-model="formData.checkPass" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="submitForm('formData')">提交</el-button>
                <el-button @click="resetForm('formData')">重置</el-button>
            </el-form-item>
        </el-form>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script>
        const form = () => {
            const reg_phone = /^(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|18[0|1|2|3|5|6|7|8|9])\d{8}$/;
            const reg_email = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
            const reg_world = /^[\u4e00-\u9fa5]{0,}$/ // 汉字
            new Vue({
                el: '.test',
                data() {
                    var validatePass = (rule, value, callback) => {
                        if (value === '') {
                            callback(new Error('请输入密码'));
                        } else {
                            if (this.formData.checkPass !== '') {
                                this.$refs.formData.validateField('checkPass');
                            }
                            callback();
                        }
                    };
                    var validatePass2 = (rule, value, callback) => {
                        if (value === '') {
                            callback(new Error('请再次输入密码'));
                        } else if (value !== this.formData.pass) {
                            callback(new Error('两次输入密码不一致!'));
                        } else {
                            callback();
                        }
                    };

                    return {
                        formData: {
                            pass: '',
                            checkPass: '',
                        },
                        rules2: {
                            pass: [
                                { validator: validatePass, trigger: 'blur' }
                            ],
                            checkPass: [
                                { validator: validatePass2, trigger: 'blur' }
                            ],
                        }
                    };
                },
                methods: {
                    submitForm(formName) {
                        this.$refs[formName].validate((valid) => {
                            if (valid) {
                                alert('submit!');
                            } else {
                                console.log('error submit!!');
                                return false;
                            }
                        });
                    },
                    resetForm(formName) {
                        this.$refs[formName].resetFields();
                    }
                },
            })
        }

        form()

    </script>
</body>

</html>