<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<style>

</style>

<body>

    <div class="test">
        <el-form :model="formData" status-icon :rules="rules2" ref="formData" label-width="100px"
            class="demo-ruleForm">
            <el-form-item label="密码" prop="pass">
                <el-input type="password" v-model="formData.pass" show-password auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="确认密码" prop="checkPass">
                <el-input type="password" v-model="formData.checkPass" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="年龄" prop="age">
                <el-input v-model.number="formData.age"></el-input>
            </el-form-item>
            <el-form-item label="手机号" prop="phone">
                <el-input v-model.number="formData.phone" auto-complete="on"></el-input>
            </el-form-item>
            <el-form-item label="邮箱" prop="email">
                <el-input v-model.number="formData.email" auto-complete="on"></el-input>
            </el-form-item>
            <el-form-item label="昵称" prop="nickname">
                <el-input v-model.number="formData.nickname" auto-complete="on"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="submitForm('formData')">提交</el-button>
                <el-button @click="resetForm('formData')">重置</el-button>
            </el-form-item>
        </el-form>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script>
        const form = () => {
            const reg_phone = /^(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|18[0|1|2|3|5|6|7|8|9])\d{8}$/;
            const reg_email = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
            const reg_world = /^[\u4e00-\u9fa5]{0,}$/ // 汉字
            new Vue({
                el: '.test',
                data() {
                    var checkAge = (rule, value, callback) => {
                        if (!value) {
                            return callback(new Error('年龄不能为空'));
                        }
                        setTimeout(() => {
                            if (!Number.isInteger(value)) {
                                callback(new Error('请输入数字值'));
                            } else {
                                if (value < 18) {
                                    callback(new Error('必须年满18岁'));
                                } else {
                                    callback();
                                }
                            }
                        }, 1000);
                    };
                    var validatePass = (rule, value, callback) => {
                        if (value === '') {
                            callback(new Error('请输入密码'));
                        } else {
                            if (this.formData.checkPass !== '') {
                                this.$refs.formData.validateField('checkPass');
                            }
                            callback();
                        }
                    };
                    var validatePass2 = (rule, value, callback) => {
                        if (value === '') {
                            callback(new Error('请再次输入密码'));
                        } else if (value !== this.formData.pass) {
                            callback(new Error('两次输入密码不一致!'));
                        } else {
                            callback();
                        }
                    };
                    var checkPhone = (rule, value, callback) => {
                        if(!value) {
                            callback(new Error('手机号不能为空！'))
                        } else if(!reg_phone.test(value)) {
                            callback(new Error('请输入正确的手机号'))
                        }
                    };
                    var check_email = (rule, value, callback) => {
                        if(!value) {
                            callback(new Error('请输入邮箱！'))
                        } else if(!reg_email.test(value)) {
                            callback(new Error('请输入正确的邮箱！'))
                        }
                    }
                    var check_nickname = (rule, value, callback) => {
                        if(!value) {
                            callback(new Error('请输入昵称！'))
                        } else if(!reg_world.test(value)) {
                            callback(new Error('请输入汉字'))
                        } else if(value.length > 6 || value.length < 4) {
                            callback(new Error('请输入4-6位汉字！'))
                        }
                    }
                    return {
                        formData: {
                            pass: '',
                            checkPass: '',
                            age: '',
                            phone: '',
                            email: '',
                            nickname: ''
                        },
                        rules2: {
                            pass: [
                                { validator: validatePass, trigger: 'blur' }
                            ],
                            checkPass: [
                                { validator: validatePass2, trigger: 'blur' }
                            ],
                            age: [
                                { validator: checkAge, trigger: 'blur' }
                            ],
                            phone: [
                                { validator: checkPhone, trigger: 'blur' }
                            ],
                            email: [
                                { validator: check_email, trigger: 'blur'}
                            ],
                            nickname: [
                                { validator: check_nickname, trigger: 'blur'}
                            ]
                        }
                    };
                },
                watch: {
                    formData() {
                        console.log(12312312)
                    }
                },
                methods: {
                    submitForm(formName) {
                        this.$refs[formName].validate((valid) => {
                            if (valid) {
                                alert('submit!');
                            } else {
                                console.log('error submit!!');
                                return false;
                            }
                        });
                    },
                    resetForm(formName) {
                        this.$refs[formName].resetFields();
                    }
                },
            })
        }

        form()

    </script>
</body>

</html>